<div class="input-categories-table form">
  <%= form_for Category.new do |f| %>
    <table class="input-table-category">
      <td> <%= f.label :'Производитель:' %></td><td><%= f.text_field :brand %> </td>
      <td> <%= f.label :'Модель:' %> </td><td> <%= f.text_field :model %> </td>
      <td class="table-cell-center" colspan="2">
        <%= f.submit 'Сохранить', :class => 'button-save-edit' %>
      </td>
    </table>
  <% end %>
</div>